@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@100;200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0B1A4D;
}

.encabezado {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.encabezado a img {
  height: 150px;
  width: auto;
}

.nav-encabezado {
  padding-right: 50px;
}

.navbar-encabezado {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.navbar-encabezado li a {
  text-decoration: none;
  color: #F2962F;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.navbar-encabezado li a:hover {
  color: #C6F8FF;
}

footer {
  background-color: #0B1A4D;
}
footer .pie-de-pagina {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: none;
}
footer .pie-de-pagina .logo-footer {
  height: 150px;
}
footer .pie-de-pagina .datos {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
footer .pie-de-pagina .datos .datos-contacto {
  margin-right: 20px;
}
footer .pie-de-pagina .datos .datos-contacto p {
  color: #F2962F;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  text-align: center;
}
footer .pie-de-pagina .nav-pie {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
footer .pie-de-pagina .nav-pie .navbar {
  list-style: none;
}
footer .pie-de-pagina .nav-pie .navbar li a {
  text-decoration: none;
  color: #F2962F;
  font-family: "Montserrat", sans-serif;
}
footer .pie-de-pagina .nav-pie .navbar li a:hover {
  color: #C6F8FF;
}

main {
  background-color: #1B3079;
}
main h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  text-align: left;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.25);
}
main section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
main section h2 {
  padding-top: 25px;
  margin-bottom: 25px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #F2962F;
}

.portada {
  background-image: url("../assets/img/imagen-fondo.png");
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: none;
}

.productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: none;
  justify-content: center;
  align-items: none;
  grid-template-areas: none;
  grid-gap: 10px;
}

.card {
  width: 180px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.card img {
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.texto-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.texto-card .precio {
  margin-bottom: 10px;
}
.texto-card .boton-detalle {
  background-color: #F2962F;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  padding: 5px;
  border: solid 1px black;
  display: block;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 60%;
}

.datos-nosotros {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: none;
  align-items: none;
  grid-template-areas: "conoce-nosotros conoce-nosotros" "nosotros-imagen nosotros-texto";
  grid-gap: 20px;
}
.datos-nosotros .titulo-nos {
  grid-area: conoce-nosotros;
}
.datos-nosotros .imagen-nosotros {
  grid-area: nosotros-imagen;
  padding: 10px;
}
.datos-nosotros .imagen-nosotros img {
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.datos-nosotros .nosotros-info {
  grid-area: nosotros-texto;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.datos-nosotros .nosotros-info h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: #C6F8FF;
  text-align: center;
}
.datos-nosotros .nosotros-info p {
  color: #C6F8FF;
  font-family: "Montserrat", sans-serif;
}

.mas-nosotros {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: none;
  align-items: none;
  grid-template-areas: "area-titulo-mas area-titulo-mas" "area-seguridad area-precio";
  grid-gap: 20px;
}
.mas-nosotros h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: #C6F8FF;
  text-align: center;
}
.mas-nosotros p {
  color: #C6F8FF;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
.mas-nosotros .titulo-mas {
  grid-area: area-titulo-mas;
}
.mas-nosotros .seguridad {
  text-align: center;
  grid-area: area-seguridad;
}
.mas-nosotros .seguridad img {
  width: 40%;
  max-width: 160px;
  background-repeat: no-repeat;
  background-size: cover;
}
.mas-nosotros .mejor-precio {
  text-align: center;
  grid-area: area-precio;
}
.mas-nosotros .mejor-precio img {
  width: 40%;
  max-width: 160px;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-contacto {
  width: 460px;
  height: auto;
  margin: 0px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: white;
}
.form-contacto .formulario form p {
  font-family: "Montserrat", sans-serif;
}
.form-contacto .formulario form p input {
  background-color: white;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0B1A4D;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.form-contacto .formulario form p textarea {
  background-color: white;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0B1A4D;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}
.form-contacto .formulario form p label {
  display: block;
  float: center;
}
.form-contacto .formulario form p span {
  color: #F2962F;
}
.form-contacto .formulario form button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #F2962F;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}
.form-contacto .formulario form button p {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.form-contacto .formulario form .aviso {
  font-size: 13px;
  color: #0B1A4D;
}
.form-contacto .formulario h2 {
  font-size: 30px;
  padding-bottom: 20px;
  color: #0B1A4D;
}
.form-contacto .formulario h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0B1A4D;
}
.form-contacto .formulario p {
  font-size: 14px;
  color: #0B1A4D;
}
.form-contacto .formulario input:focus {
  outline: 0;
  border: 1px solid #F2962F;
}
.form-contacto .formulario textarea:focus {
  outline: 0;
  border: 1px solid #F2962F;
}

/*# sourceMappingURL=style.css.map */
