@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@100;200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0B1A4D;
}

.encabezado {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.encabezado a img {
  height: 150px;
  width: auto;
}

.nav-encabezado {
  padding-right: 50px;
}

.navbar-encabezado {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.navbar-encabezado li a {
  text-decoration: none;
  color: #F2962F;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.navbar-encabezado li a:hover {
  color: #C6F8FF;
}

footer {
  background-color: #0B1A4D;
}
footer .pie-de-pagina {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: none;
}
footer .pie-de-pagina .logo-footer {
  height: 150px;
}
footer .pie-de-pagina .datos {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
footer .pie-de-pagina .datos .datos-contacto {
  margin-right: 20px;
}
footer .pie-de-pagina .datos .datos-contacto p {
  color: #F2962F;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  text-align: center;
}
footer .pie-de-pagina .nav-pie {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
footer .pie-de-pagina .nav-pie .navbar {
  list-style: none;
}
footer .pie-de-pagina .nav-pie .navbar li a {
  text-decoration: none;
  color: #F2962F;
  font-family: "Montserrat", sans-serif;
}
footer .pie-de-pagina .nav-pie .navbar li a:hover {
  color: #C6F8FF;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}
.wrapper .icon {
  position: relative;
  background: white;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .icon:hover span {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .facebook:hover {
  background: #1877F2;
  color: white;
}
.wrapper .facebook:hover .tooltip {
  background: #1877F2;
  color: white;
}
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: white;
}
.wrapper .instagram:hover {
  background: #E4405F;
  color: white;
}
.wrapper .instagram:hover .tooltip {
  background: #E4405F;
  color: white;
}
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: white;
}

.boton {
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
  font-size: 17px;
  border: 1px solid;
  font-family: "Montserrat", sans-serif;
  color: #F2962F;
  z-index: 1;
}
.boton::before, .boton::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #F2962F;
  transition: 1s ease;
}
.boton::before {
  top: -1em;
  left: -1em;
}
.boton::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.boton:hover::before, .boton:hover::after {
  height: 410px;
  width: 410px;
}
.boton:hover {
  color: white;
}
.boton:active {
  filter: brightness(0.8);
}

main {
  background-color: #1B3079;
}
main h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  text-align: left;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.25);
}
main section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
main section h2 {
  padding-top: 25px;
  margin-bottom: 25px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #F2962F;
}

.portada {
  background-image: url("../assets/img/imagen-fondo.png");
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: none;
}

.productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: none;
  justify-content: center;
  grid-template-areas: none;
  grid-gap: 0px;
}

.card {
  width: 178px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  transition: 0.3s;
  margin: 8px;
  transform: scale(1);
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
.card img {
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.texto-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.texto-card .precio {
  margin-bottom: 10px;
}
.texto-card .boton {
  border-radius: 20px;
}

.datos-nosotros {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: none;
  align-items: none;
  grid-template-areas: "conoce-nosotros conoce-nosotros" "nosotros-imagen nosotros-texto";
  grid-gap: 20px;
}
.datos-nosotros .titulo-nos {
  grid-area: conoce-nosotros;
}
.datos-nosotros .imagen-nosotros {
  grid-area: nosotros-imagen;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.datos-nosotros .imagen-nosotros img {
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}
.datos-nosotros .nosotros-info {
  grid-area: nosotros-texto;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.datos-nosotros .nosotros-info h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: #C6F8FF;
  text-align: center;
}
.datos-nosotros .nosotros-info p {
  color: #C6F8FF;
  font-family: "Montserrat", sans-serif;
}

.mas-nosotros {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: none;
  align-items: none;
  grid-template-areas: "area-titulo-mas area-titulo-mas" "area-seguridad area-precio";
  grid-gap: 20px;
}
.mas-nosotros h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: #C6F8FF;
  text-align: center;
}
.mas-nosotros p {
  color: #C6F8FF;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
.mas-nosotros .titulo-mas {
  grid-area: area-titulo-mas;
}
.mas-nosotros .seguridad {
  text-align: center;
  grid-area: area-seguridad;
}
.mas-nosotros .seguridad img {
  width: 40%;
  max-width: 160px;
  background-repeat: no-repeat;
  background-size: cover;
}
.mas-nosotros .mejor-precio {
  text-align: center;
  grid-area: area-precio;
}
.mas-nosotros .mejor-precio img {
  width: 40%;
  max-width: 160px;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-contacto {
  width: 460px;
  height: auto;
  margin: 0px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: white;
}
.form-contacto .formulario form p {
  font-family: "Montserrat", sans-serif;
}
.form-contacto .formulario form p input {
  background-color: white;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0B1A4D;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.form-contacto .formulario form p textarea {
  background-color: white;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0B1A4D;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}
.form-contacto .formulario form p label {
  display: block;
  float: center;
}
.form-contacto .formulario form p span {
  color: #F2962F;
}
.form-contacto .formulario form button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #F2962F;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}
.form-contacto .formulario form button p {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.form-contacto .formulario form .aviso {
  font-size: 13px;
  color: #0B1A4D;
}
.form-contacto .formulario h2 {
  font-size: 30px;
  padding-bottom: 20px;
  color: #0B1A4D;
}
.form-contacto .formulario h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0B1A4D;
}
.form-contacto .formulario p {
  font-size: 14px;
  color: #0B1A4D;
}
.form-contacto .formulario input:focus {
  outline: 0;
  border: 1px solid #F2962F;
}
.form-contacto .formulario textarea:focus {
  outline: 0;
  border: 1px solid #F2962F;
}

.boton {
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
  font-size: 17px;
  border: 1px solid;
  font-family: "Montserrat", sans-serif;
  color: #F2962F;
  z-index: 1;
}
.boton::before, .boton::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #F2962F;
  transition: 1s ease;
}
.boton::before {
  top: -1em;
  left: -1em;
}
.boton::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.boton:hover::before, .boton:hover::after {
  height: 410px;
  width: 410px;
}
.boton:hover {
  color: white;
}
.boton:active {
  filter: brightness(0.8);
}

.nuestro-blog {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  grid-template-areas: "area-titulo-blog area-titulo-blog" "area-blog1 area-blog2" "area-blog3 area-blog2";
  grid-gap: 20px;
}
.nuestro-blog .titulo-blog {
  grid-area: area-titulo-blog;
}
.nuestro-blog .entrada-blog1, .nuestro-blog .entrada-blog3, .nuestro-blog .entrada-blog2 {
  grid-area: area-blog1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nuestro-blog .entrada-blog2 {
  grid-area: area-blog2;
}
.nuestro-blog .entrada-blog3 {
  grid-area: area-blog3;
}
.nuestro-blog .imagen-blog {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.nuestro-blog .imagen-blog img {
  max-width: 440px;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}
.nuestro-blog .texto-entrada {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.nuestro-blog .texto-entrada h3 {
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: #C6F8FF;
  text-align: center;
}
.nuestro-blog .texto-entrada p {
  padding: 0px 10px 0px 10px;
  color: #C6F8FF;
  font-family: "Montserrat", sans-serif;
}
.nuestro-blog .modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}
.nuestro-blog .modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.nuestro-blog .modalDialog div {
  max-width: 800px;
  width: 90%;
  position: relative;
  margin: 10% auto;
  padding: 20px;
  border-radius: 3px;
  background: #1B3079;
}
.nuestro-blog .modalDialog div h2 {
  font-size: 20px;
}
.nuestro-blog .close {
  background: #f26d7d;
  color: black;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 34px;
  height: 34px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  padding-top: 5px;
}
.nuestro-blog .close:hover {
  background: #fa3f6f;
}

.nuestro-blog .imagen-blog img {
  max-width: 370px;
}

@media (max-width: 768px) {
  .productos {
    grid-template-columns: 1fr 1fr;
  }
  .logo-footer {
    display: none;
  }
  .navbar-encabezado {
    flex-direction: column;
    gap: 5px;
  }
  .navbar-encabezado li a {
    font-size: 16px;
  }
  main h1 {
    font-size: 30px;
  }
  .datos-nosotros {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "conoce-nosotros" "nosotros-imagen" "nosotros-texto";
  }
  .datos-nosotros .h2 {
    font-size: 20px;
  }
  .mas-nosotros h2 {
    font-size: 20px;
  }
  .mas-nosotros h3 {
    font-size: 16px;
  }
  .mas-nosotros p {
    font-size: 15px;
  }
  .nosotros-info h3 {
    font-size: 16px;
  }
  .nosotros-info p {
    font-size: 15px;
  }
  .nuestro-blog {
    grid-template-columns: 1fr;
    grid-template-areas: "area-titulo-blog" "area-blog1" "area-blog2" "area-blog3";
  }
  .nuestro-blog .texto-entrada h3 {
    font-size: 16px;
  }
  .nuestro-blog .texto-entrada p {
    font-size: 15px;
  }
  .nuestro-blog .imagen-blog img {
    max-width: 350px;
  }
  .form-contacto {
    width: 410px;
  }
  .form-contacto .formulario form p {
    margin-left: 5px;
  }
  .form-contacto .formulario form p input {
    width: 380px;
  }
  .form-contacto .formulario form p textarea {
    width: 380px;
  }
  .form-contacto .formulario form button {
    margin-left: 5px;
    width: 385px;
  }
  .form-contacto .formulario h2 {
    font-size: 25px;
  }
  .form-contacto .formulario h3 {
    margin-left: 5px;
    font-size: 16px;
  }
  .form-contacto .formulario p {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .portada {
    height: 400px;
  }
  .form-contacto {
    width: 350px;
  }
  .form-contacto .formulario form p input {
    width: 310px;
  }
  .form-contacto .formulario form p textarea {
    width: 310px;
  }
  .form-contacto .formulario form button {
    width: 320px;
  }
  .form-contacto .formulario h2 {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .portada {
    height: 350px;
  }
  main h1 {
    font-size: 28px;
  }
  .productos {
    grid-template-columns: 1fr;
  }
  .nav-encabezado {
    padding-right: 10px;
  }
  .pie-de-pagina {
    flex-direction: column;
  }
  .mas-nosotros {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "area-titulo-mas" "area-seguridad" "area-precio";
  }
  .nuestro-blog .imagen-blog img {
    max-width: 300px;
  }
  .form-contacto {
    width: 300px;
  }
  .form-contacto .formulario form p input {
    width: 280px;
  }
  .form-contacto .formulario form p textarea {
    width: 280px;
  }
  .form-contacto .formulario form button {
    width: 290px;
  }
  .form-contacto .formulario h2 {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .nuestro-blog .imagen-blog img {
    max-width: 280px;
  }
}

/*# sourceMappingURL=style.css.map */
