$fondo-header-footer:#0B1A4D;
$fondo-main:#1B3079 ;
$color-boton:#F2962F;
$color-letras:#C6F8FF;
$color-letras-oscura:#0B1A4D;
$color-fondo-card: white;
$fuente-titulo: 'Josefin Sans', sans-serif;
$fuente-enlace: 'Montserrat', sans-serif;