footer {
	background-color:$fondo-header-footer;
	.pie-de-pagina {
        @include flex(row,nowrap,space-between,none);
		.logo-footer {
			height: 150px;
		}
		.datos {
            @include flex(column,nowrap,space-around,center);
			.datos-contacto {
				margin-right: 20px;
				p {
					color: $color-boton;
					font-family: $fuente-enlace;
					padding: 5px;
					text-align: center;
				}
			}
		}
		.nav-pie {
            @include flex(row,nowrap,center,center);
			margin-right: 20px;
			.navbar {
				list-style: none;
				li {
					a {
						text-decoration: none;
						color: $color-boton;
						font-family: $fuente-enlace;
						&:hover {
							color: $color-letras;
						}
					}
				}
			}
		}
	}
}


.wrapper {
	display: inline-flex;
	list-style: none;
	.icon {
		position: relative;
		background: $color-fondo-card;
		border-radius: 50%;
		padding: 15px;
		margin: 10px;
		width: 25px;
		height: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		&:hover {
			.tooltip {
				top: -45px;
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
				text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
			}
			span {
				text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
			}
		}
	}
	.tooltip {
		position: absolute;
		top: 0;
		font-size: 14px;
		background: #ffffff;
		color: $color-fondo-card;
		padding: 5px 8px;
		border-radius: 5px;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
		opacity: 0;
		pointer-events: none;
		transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		&::before {
			position: absolute;
			content: "";
			height: 8px;
			width: 8px;
			background: #ffffff;
			bottom: -3px;
			left: 50%;
			transform: translate(-50%) rotate(45deg);
			transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}
	}
	.facebook {
		&:hover {
			background: #1877F2;
			color: $color-fondo-card;
			.tooltip {
				background: #1877F2;
				color: $color-fondo-card;
				&::before {
					background: #1877F2;
					color: $color-fondo-card;
				}
			}
		}
	}
	.instagram {
		&:hover {
			background: #E4405F;
			color:$color-fondo-card;
			.tooltip {
				background: #E4405F;
				color: $color-fondo-card;
				&::before {
					background: #E4405F;
					color: $color-fondo-card;
				}
			}
		}
	}
}
