footer {
	background-color:$fondo-header-footer;
	.pie-de-pagina {
        @include flex(row,nowrap,space-between,none);
		.logo-footer {
			height: 150px;
		}
		.datos {
            @include flex(column,nowrap,space-around,center);
			.datos-contacto {
				margin-right: 20px;
				p {
					color: $color-boton;
					font-family: $fuente-enlace;
					padding: 5px;
					text-align: center;
				}
			}
		}
		.nav-pie {
            @include flex(row,nowrap,center,center);
			margin-right: 20px;
			.navbar {
				list-style: none;
				li {
					a {
						text-decoration: none;
						color: $color-boton;
						font-family: $fuente-enlace;
						&:hover {
							color: $color-letras;
						}
					}
				}
			}
		}
	}
}